<a href="https://colab.research.google.com/github/JeanSosa/CPEN-21A-CPE-1-1/blob/main/LoopStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [1]:
week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [3]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [4]:
for x in "week":
  print(x)

w
e
e
k

range() function

In [5]:
for x in range(6):
  print("Example1",x)

for x in range(2,6):
  print("Example2",x)

Example1 0
Example1 1
Example1 2
Example1 3
Example1 4
Example1 5
Example2 2
Example2 3
Example2 4
Example2 5

Nested Loops

In [6]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop Statement

In [7]:
i = 1
while i<6:
  print(i)
  i+=1 #i = i + 1 Assignment operator

1
2
3
4
5

Break in Statement

In [8]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [9]:
i = 1
while i<6:
  i+=1
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

else Statement

In [10]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("is no longer less than 6")

1
2
3
4
5
is no longer less than 6

#Application 1

In [2]:
hello = ["Hello 0", "Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6", "Hello 7", "Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2

In [12]:
x = 3
while x<10:
  print(x)
  x+=1

3
4
5
6
7
8
9